body {
  background-image: url(img/bck.png);
  background-repeat: no-repeat;
  background-position:50% 10%;
  background-size: inherit;
  

}
p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  color: indianred;
  font-weight: bold;
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 38px;
  color: blue;
}
a{
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
}